# **Comprehensive list:**
1.Write a list comprehension to generate squares of numbers from 1 to 10

In [ ]:
squares=[(x,x**2) for x in range(1,10)]
squares

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

2. Create a list of even numbers between 1 and 50 using list
comprehension.

In [ ]:
even_number=[x for x in range(1,51) if x%2==0 ]
print(even_number, end=' ')

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

3. Convert all strings in a list to uppercase using list comprehension.

In [ ]:
list=['acs','wsdf','wsdf','asdf','qwed','wef']
upper_case=[list1.upper() for list1 in list]
upper_case

['ACS', 'WSDF', 'WSDF', 'ASDF', 'QWED', 'WEF']

4. Given a list of integers, create a new list that contains only the positive
number

In [ ]:
list=[1,2,3,4,5,-1,-3,-5,-34,12,-23,25]
positive_number=[x for x in list if x>0]
positive_number

[1, 2, 3, 4, 5, 12, 25]

5. Create a list of tuples (num, num^2) for numbers 1 to 5

In [ ]:
tup=[(x,x**2) for x in range(1,6)]
tup

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

6. Extract all vowels from a given string using list comprehension

In [ ]:
string='Sakshi'
vowels =[i for i in string if i.lower() in("a","e","i","o","u")]
vowels

['a', 'i']

7. Flatten a 2D list using list comprehension

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = [i for row in matrix for i in row]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

8. Replace all negative numbers in a list with 0 using list comprehension

In [ ]:
list=[1,2,3,4,5,-2,-5,-7,-8,4,3,-3,5]
numbers=[0 if x<0 else x for x in list ]
numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 4, 3, 0, 5]

9. Given a list of words, create a list of lengths of each word.

In [ ]:
list =['qwedf','qwedfvds','sxcvcx','zxcfd','sdfdszxdcx']
length1=[len(x) for x in list]
length1

[5, 8, 6, 5, 10]

10. Filter out words that start with the letter 'A' or 'a'.

In [ ]:
list=['asdf','asmita','Akanksha','sakshi','kajal','rani','Anjali']
letter=[x for x in list if x.lower().startswith('a')]
letter

['asdf', 'asmita', 'Akanksha', 'Anjali']

11. From a list of numbers, generate a list of “even” or “odd” strings using
list comprehension.
(Like → [“even”, “odd”, “odd”, “even”…]

In [ ]:
list =[1,2,3,4,5,6,7,8,9,10]
even_odd=['even' if x% 2==0 else 'odd' for x in list]
even_odd

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

In [ ]:
division=[x for x in range(1,100) if x% 3==0 and x%5==0]
division

[15, 30, 45, 60, 75, 90]

13. Write a nested list comprehension to generate a multiplication table
for 1–5.

In [ ]:
table =[ [i*j for j in range(1,11)] for i in range(1,6)]
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

14. Convert a dictionary’s keys into a list using list comprehension.

In [ ]:
dict = {'a': 1, 'b': 2, 'c': 3}
keys_list = [key for key in dict]
print(keys_list)

['a', 'b', 'c']

15. Extract numeric digits from a string using list comprehension.

In [ ]:
list='1sdf54321qasdfghgree45ty'
digit=[x for x in list if x.isdigit()]
digit

['1', '5', '4', '3', '2', '1', '4', '5']

16. Use list comprehension to remove all spaces from a string.

In [ ]:
s = "Data Science with Python"
result = [ch for ch in s if ch != ' ']
print(''.join(result))

DataSciencewithPython

17. Create a list of characters that appear more than once in a string.

In [ ]:
s = "MScStatistics"
result = [i for i in set(s) if s.count(i) > 1]
print(result)

['t', 'c', 'i', 'S', 's']

18. From a list of sentences, generate a list of all words (split using list
comprehension)

In [ ]:
sentences = ["My Name is Sakshi", "I love data"]
words = [word for sentence in sentences for word in sentence.split()]
print(words)

['My', 'Name', 'is', 'Sakshi', 'I', 'love', 'data']

19. Create a list of unique elements from a list using list comprehension +
condition.

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]
unique = [x for i, x in enumerate(lst) if x not in lst[:i]]
print(unique)

[1, 2, 3, 4, 5]

20. Generate all pairs (x, y) where x is from list A and y is from list B
(cartesian product)

In [ ]:
A = [1, 2, 3]
B = ['a', 'b']
pairs = [(x, y) for x in A for y in B]
print(pairs)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

# **Lambda Functions**

1. Write a lambda to add two numbers.

In [ ]:
addd_number=lambda x,y: x+y
addd_number(2,3)

5

2. Create a lambda to check if a number is even.

In [ ]:
even_number = lambda x:  x%2==0
even_number(4)

True

3. Write a lambda to get the last character of a string.

In [ ]:
char = lambda x: x[-1]
char("sakshi")

'i'

4. Use lambda with map() to square every number in a list

In [ ]:
number=[1,2,3,4,5,6,7]
squares= list(map( lambda x: x**2, number))
squares

[1, 4, 9, 16, 25, 36, 49]

5. Use lambda with filter() to get only odd numbers from a list

In [ ]:
number=[1,2,3,4,5,6,7]
odd_numbers= list(filter(lambda x: x%2!=0,number))
odd_numbers

[1, 3, 5, 7]

6. Use sorted() + lambda to sort a list of tuples by second value.

In [ ]:
data = [(1, 3), (4, 1), (2, 5), (3, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(4, 1), (3, 2), (1, 3), (2, 5)]

7. Create a lambda to check if a string is a palindrome.

In [ ]:

palindrome= lambda x:x ==x[::-1]
palindrome("madam")

True

8. Use lambda to find maximum of three numbers.

In [ ]:
max_number =lambda a,b,c : max(a,b,c)
max(10,15,3)

15

9. Write a lambda to reverse a string

In [ ]:
reverse =lambda x:x[::-1]
reverse("Sakshi")

'ihskaS'

10. Use lambda with map() to convert a list of strings to integers

In [ ]:
string=['1','2','3','4']
convert =list(map(lambda x: int(x),string))
convert

[1, 2, 3, 4]

11. Use lambda with filter() to remove empty strings from a list.

In [ ]:
string=['a','b','e',' ','2','4','h',' ']
remove= list(filter(lambda x : x!= " ",string))
remove

['a', 'b', 'e', '2', '4', 'h']

12. Use lambda to compute factorial using reduce() (yeah, that one-liner
madness).

In [ ]:
from functools import reduce

factorial = lambda n: reduce(lambda x, y: x * y, range(1, n + 1), 1)
print(factorial(5))

120

13. Write a lambda that returns the larger of two numbers.

In [ ]:
value=lambda x, y : x if x>y else b
value(6,5)

6

14. Use lambda to check if number is divisible by 5.

In [ ]:
division= lambda x: x%5==0
division(35)

True

15. Use lambda + map() to add 10 to each element of a list.

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
add_element=__builtins__.list(map( lambda x: x+10,l))
add_element

[11, 12, 13, 14, 15, 16, 17, 18, 19]

16. Use lambda to sort a list of dictionaries by a key (like "age").

In [ ]:
people = [
    {"name": "Asha", "age": 25},
    {"name": "Ravi", "age": 20},
    {"name": "Neha", "age": 30}
]

sorted_people = sorted(people, key=lambda x: x["age"])
print(sorted_people)

[{'name': 'Ravi', 'age': 20}, {'name': 'Asha', 'age': 25}, {'name': 'Neha', 'age': 30}]

17. Write a lambda that returns True if a character is a vowel.

In [ ]:

vowel= lambda x: x.lower() in 'aeiou'
vowel("a")

True

18. Use lambda + filter to extract words of length > 5 from a list.

In [ ]:
word=['python','data','sakshi','datascience','analyst']
length=list(filter(lambda x: len(x)>5,word))
length

['python', 'sakshi', 'datascience', 'analyst']

19. Use lambda to calculate the area of a circle (πr²).

In [ ]:
import math
r=5
area =lambda x: math.pi * r * r
area(5)

78.53981633974483

20. Write a lambda to remove duplicates from a list using filter + set.

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]
seen = set()
unique = list(filter(lambda x: x not in seen and not seen.add(x), lst))
print(unique)

[1, 2, 3, 4, 5]

21. Use lambda with reduce() to find the product of all numbers in a list.

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, nums)
print(product)

120

22. Write a lambda that returns absolute value of a number.

In [ ]:
abs_value = lambda x: x if x >= 0 else -x
print(abs_value(-10))

10

23. Use lambda to sort a list of strings by their length.

In [ ]:
words = ["python", "AI", "data", "science"]
sorted_words = sorted(words, key=lambda x: len(x))
print(sorted_words)

['AI', 'data', 'python', 'science']

24. Use lambda to get only uppercase characters from a string.

In [ ]:
s = "DaTa ScIeNcE"
upper_chars = list(filter(lambda x: x.isupper(), s))
print(upper_chars)

['D', 'T', 'S', 'I', 'N', 'E']

25. Write a lambda that returns the square if number is even, cube if odd.

In [ ]:
even_square_odd_cube = lambda n: n**2 if n % 2 == 0 else n**3
print(even_square_odd_cube(4))
print(even_square_odd_cube(3))

16
27

26. Use lambda with map to convert Celsius to Fahrenheit.

In [ ]:
celsius = [0, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 86.0, 104.0]

27. Write a lambda to check if two strings are anagrams.

In [ ]:
is_anagram = lambda s1, s2: sorted(s1.lower()) == sorted(s2.lower())
print(is_anagram("listen", "silent"))

True

28. Use lambda to extract only numeric values from a mixed list.

In [ ]:
mixed = [1, 'a', 2.5, '3', 4, 'hello', 6]
numbers = list(filter(lambda x: isinstance(x, (int, float)), mixed))
print(numbers)

[1, 2.5, 4, 6]

29. Use lambda inside any() to check if any list element is negative.

In [ ]:
nums = [3, 7, -2, 5]
has_negative = any(map(lambda x: x < 0, nums))
print(has_negative)

True

30. Use lambda to generate a function that multiplies any number by n.

In [ ]:
multiplier = lambda n: (lambda x: x * n)

times_5 = multiplier(5)
print(times_5(10))   # 50

50