QUE 1)If name = ''' Hi How are you?
Starterd learning python.
It's really interesting.''' Then what is the output of following code

In [ ]:
name=''' hi how are you?
starterd learning python.
it's really interresting.'''
print(name)

 hi how are you?
starterd learning python.
it's really interresting.

In [ ]:
name[:]

" hi how are you?\nstarterd learning python.\nit's really interresting."

In [ ]:
name[-10:-5]

'erres'

In [ ]:
name[3:12]

' how are '

In [ ]:
name[12:3]

''

In [ ]:
name[5:6]

'o'

In [ ]:
name [-4:-12]

''

In [ ]:
name[::2]

' ihwaeyu\ntredlann yhn\ntsral nersig'

In [ ]:
name[::-2]

".ntertiyle 'i.otpgire rtas?o r o h"

que 2. L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]

In [ ]:
L1=['a','b',20,30,'t',100,300,400,'Happy','major']
L1

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
#a.
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
#b.
L1[::3]

['a', 30, 300, 'major']

In [ ]:
#c.
L1[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
#d. How to extract value “Happy” based on index and negative index
L1.index('Happy')

8

In [ ]:
L1[8]
L1[-2]

'Happy'

In [ ]:
#e. How to check type of data in list at 4th position
type(L1[4])

str

In [ ]:
#f. Extract values for 100, 300, 400
L1[5:8]

[100, 300, 400]

que 3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following

In [ ]:
l2 =[1,2,3,5,['a','b','work hard'],100,200,"success"]
l2[4]

['a', 'b', 'work hard']

In [ ]:
l2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
l2[7]

'success'

In [ ]:
l2[7][2]

'c'

In [ ]:
l2[7][2:]

'ccess'

In [ ]:
l2[:3]

[1, 2, 3]

In [ ]:
l2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'success']

que 4.From the above l2 value ‘b’ must be changed to ‘BEE’.

In [ ]:
l2[4][1]='BEE'
l2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'success']

que 5. From l2 “BEE” has to discard.

In [ ]:
l2[4].remove('BEE')
l2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'success']

que 6. In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}

In [ ]:
l2.append({'insert':['bee','month'],
           'bird':['parrot','sparoow']})
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'success',
 {'insert': ['bee', 'month'], 'bird': ['parrot', 'sparoow']}]

Que 7) 7. From l2 extract insect information.

In [ ]:
l2[-1]['insert']

['bee', 'month']

Que 8) 8. Create a  d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2

In [ ]:
d1={'a':10,'b':20,'c':30}
d1

l2.insert(2,d1)
l2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'success',
 {'insert': ['bee', 'month'], 'bird': ['parrot', 'sparoow']}]

Que 9)  Based on new l2 created here extract the value 10 from l2 dictionary.

In [ ]:
l2[2]['a']

10

que 10) If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following

In [ ]:
l22=[1,2,3,5,(90,40,50,10),'python',400,['a','b','work hard'],100,200,"success",(200,300,"hundreds")]
l22

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'success',
 (200, 300, 'hundreds')]

In [ ]:
l22[4][2]

50

In [ ]:
l22[5][:]

'python'

In [ ]:
l22[2][:]

TypeError: 'int' object is not subscriptable

In [ ]:
l22[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
l22[5]

'python'

In [ ]:
l22[5][3:-1]

'ho'

In [ ]:
l22[-1]

(200, 300, 'hundreds')

In [ ]:
l22[-4:-3]

[100]

In [ ]:
l22[-4:-10]

[]

In [ ]:
l22[7][2]

'work hard'

In [ ]:
l22[-7][2:]

'thon'

In [ ]:
l22[:-3]

[1, 2, 3, 5, (90, 40, 50, 10), 'python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
l2[-3:]

[200, 'success', {'insert': ['bee', 'month'], 'bird': ['parrot', 'sparoow']}]

QUE 11.Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails If marks are more than 80 output must be “You got distinction” For marks more than 60 output must be “You got First class” Marks more than 40 will display “You got second class” Marks more than or equal to 35 “PASS” Otherwise Fail

In [ ]:
Marks=input("Enter the marks: ")
if (not Marks.isalpha() and not Marks.isalpha()) or Marks.isdigit():
  Marks=float(Marks)
  if Marks>100 or Marks<0:
    print("Enter correct marks")
  elif Marks > 80:
    print("distiction")
  elif Marks >= 70 :
    print("First class")
  elif Marks >= 50 :
    print("Second Class")
  elif Marks == 35:
    print("pass")
  else:
    print("fail")
else:
  print("enter a correct Marks")

Enter the marks: 87
distiction

In [ ]:
## using Function
def Result(marks):
  if marks> 100 or marks<0:
    return "Enter correct marks"
  elif marks > 80:
    return "distinction"
  elif marks > 60:
    return "first class"
  elif marks > 40:
    return "second class"
  elif marks >= 35:
    return "pass"
  else:
    return "Fali"

marks=int(input( "Enter Your marks: "))
print(Result(marks))

Enter Your marks: 87
distinction

In [ ]:
## using TRY Epect
try:
    Marks = float(input("Enter the marks: "))
    if Marks > 100 or Marks < 0:
        print("Enter correct marks")

    elif Marks > 80:
        print("distinction")

    elif Marks >= 70:
        print("First class")

    elif Marks >= 50:
        print("Second Class")

    elif Marks >= 35:
        print("pass")

    else:
        print("fail")

except ValueError:
    print("Enter correct Marks")

Enter the marks: 87
distinction

QUE12. Ask user to enter information about salary of the employee per year and rating received as A, B, C, D If salary upto 5 lpa then increament based on ratings are A = 16% , B=12%, C= 10%, D=6% If salary upto 10 lpa then increament based on ratings are A = 14% , B=10%, C= 8%, D=6% If salary upto 15 lpa then increament based on ratings are A = 8% , B=6%, C= 4%, D = no increment If salary upto 23 lpa then increament based on ratings are A = 7% , B=5%, C= 4%, D=no

In [ ]:
Salary= float(input("Enter Salary: "))
rating=str(input("Enter rating"))
if Salary >0 and rating in['A','B','C','D']:
  increament =0
  if Salary <=500000 :
    if rating =='A':
      increament =0.16
    elif rating =='B':
      increament =0.12
    elif rating=='C':
      increament=0.10
    elif rating =='D':
      increament=0.06

  elif Salary <=1000000:
    if rating =='A':
      increament =0.14
    elif rating =='B':
      increament =0.10
    elif rating=='C':
      increament=0.08
    elif rating =='D':
      increament=0.06

  elif Salary <=1500000:
    if rating =='A':
      increament =0.08
    elif rating =='B':
      increament =0.06
    elif rating=='C':
      increament=0.04
    elif rating =='D':
      increament=0.00

  elif Salary <=2300000 :
    if rating =='A':
      increament =0.07
    elif rating =='B':
      increament =0.05
    elif rating=='C':
      increament=0.04
    elif rating =='D':
      increament=0.00
else:
  print("Salary range not applicable")
salary=Salary*increament
print(salary)

Enter Salary: 400000
Enter ratingA
64000.0

In [ ]:
#usnig Function
def increament_salary(salary,rating):
  if salary <=500000:
    if rating == 'A':
      print("Increment will be 16%:",salary*0.16)
    elif rating == 'B':
      print("Increment will be 12%:",salary*0.12)
    elif rating == 'C':
      print("Increment will be 10%:",salary*0.10)
    elif rating == 'D':
      print("Increment will be 6%:",salary*0.06)

  elif salary <=1000000:
      if rating == 'A':
        print("Increment will be 14%:",salary*0.14)
      elif rating == 'B':
        print("Increment will be 10%:",salary*0.10)
      elif rating == 'C':
        print("Increment will be 8%:",salary*0.08)
      elif rating == 'D':
        print("Increment will be 6%:",salary*0.06)

  elif salary <=1500000:
      if rating == 'A':
        print("Increment will be 8%:",salary*0.08)
      elif rating == 'B':
        print("Increment will be 6%:",salary*0.06)
      elif rating == 'C':
        print("Increment will be 4%:",salary*0.04)
      elif rating == 'D':
        print("No increment")

  elif salary <=2300000:
      if rating == 'A':
        print("Increment will be 7%:",salary*0.07)
      elif rating == 'B':
        print("Increment will be 5%:",salary*0.05)
      elif rating == 'C':
        print("Increment will be 4%:",salary*0.04)
      elif rating == 'D':
        print("No Increment")
  else:
    print("Enter correct salary")

salary=int(input("Enter the salary: "))
rating=input("Enter the rating: ")
increament_salary(salary, rating)

Enter the salary: 500000
Enter the rating: A
Increment will be 16%: 80000.0

In [ ]:
## using Try Expect
def increment_salary(salary, rating):

    if salary <= 500000:
        if rating == 'A':
            print("Increment will be 16%:", salary * 0.16)
        elif rating == 'B':
            print("Increment will be 12%:", salary * 0.12)
        elif rating == 'C':
            print("Increment will be 10%:", salary * 0.10)
        elif rating == 'D':
            print("Increment will be 6%:", salary * 0.06)
        else:
            print("Invalid rating")

    elif salary <= 1000000:
        if rating == 'A':
            print("Increment will be 14%:", salary * 0.14)
        elif rating == 'B':
            print("Increment will be 10%:", salary * 0.10)
        elif rating == 'C':
            print("Increment will be 8%:", salary * 0.08)
        elif rating == 'D':
            print("Increment will be 6%:", salary * 0.06)
        else:
            print("Invalid rating")

    elif salary <= 1500000:
        if rating == 'A':
            print("Increment will be 8%:", salary * 0.08)
        elif rating == 'B':
            print("Increment will be 6%:", salary * 0.06)
        elif rating == 'C':
            print("Increment will be 4%:", salary * 0.04)
        elif rating == 'D':
            print("No increment")
        else:
            print("Invalid rating")

    elif salary <= 2300000:
        if rating == 'A':
            print("Increment will be 7%:", salary * 0.07)
        elif rating == 'B':
            print("Increment will be 5%:", salary * 0.05)
        elif rating == 'C':
            print("Increment will be 4%:", salary * 0.04)
        elif rating == 'D':
            print("No increment")
        else:
            print("Invalid rating")

    else:
        print("Enter correct salary")


try:
    salary = int(input("Enter the salary: "))
    rating = input("Enter the rating (A/B/C/D): ").upper()

    increment_salary(salary, rating)

except ValueError:
    print("Please enter salary in numbers only!")

Enter the salary: 500000
Enter the rating (A/B/C/D): A
Increment will be 16%: 80000.0

In [ ]:
QUE 13. Ask user to opt for courses for master degree based on the following

L1 = [“HR”, “Finance”, “Marketing”, “DS”]

Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.

If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.

If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .

Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.

User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

In [ ]:
# Available courses
L1 = ["HR", "Finance", "Marketing", "DS"]

# Base fees
base_fee = 200000
total_cost = 0

# User inputs
subject = input("Enter subject (HR/Finance/Marketing/DS): ")
analytics = input("Do you want Analytics (Y/N): ").upper()
hostel = input("Do you want Hostel (Y/N): ").upper()
food_months = int(input("Food required for how many months?: "))
transport = input("Transportation (semester/annual): ").lower()

# Course fee
if subject in L1:
    total_cost += base_fee

    # Analytics fee (not for DS)
    if analytics == 'Y' and subject != "DS":
        total_cost += base_fee * 0.10
else:
    print("Invalid subject")

# Hostel fee
if hostel == 'Y':
    total_cost += 2000006

# Food cost
total_cost += food_months * 2000

# Transportation cost
if transport == "semester":
    total_cost += 13000
elif transport == "annual":
    total_cost += 13000 * 2

# Final output
print("Total Annual Cost (INR):", total_cost)

Enter subject (HR/Finance/Marketing/DS): HR
Do you want Analytics (Y/N): Y
Do you want Hostel (Y/N): Y
Food required for how many months?: 10
Transportation (semester/annual): semester
Total Annual Cost (INR): 2253006.0

In [ ]:
# usnig oops:
class CourseFeeCalculator:

    def __init__(self, subject, analytics, hostel, food_months, transport):
        self.available_courses = ["HR", "Finance", "Marketing", "DS"]
        self.base_fee = 200000
        self.subject = subject
        self.analytics = analytics.upper()
        self.hostel = hostel.upper()
        self.food_months = food_months
        self.transport = transport.lower()
        self.total_cost = 0

    def calculate_fee(self):

        # Course fee
        if self.subject in self.available_courses:
            self.total_cost += self.base_fee

            # Analytics fee (not for DS)
            if self.analytics == 'Y' and self.subject != "DS":
                self.total_cost += self.base_fee * 0.10
        else:
            print("Invalid subject")
            return

        # Hostel fee
        if self.hostel == 'Y':
            self.total_cost += 2000006

        # Food cost
        self.total_cost += self.food_months * 2000

        # Transportation cost
        if self.transport == "semester":
            self.total_cost += 13000
        elif self.transport == "annual":
            self.total_cost += 13000 * 2

        print("Total Annual Cost (INR):", self.total_cost)


# -------- User Input --------
try:
    subject = input("Enter subject (HR/Finance/Marketing/DS): ")
    analytics = input("Do you want Analytics (Y/N): ")
    hostel = input("Do you want Hostel (Y/N): ")
    food_months = int(input("Food required for how many months?: "))
    transport = input("Transportation (semester/annual): ")

    # Object Creation
    student1 = CourseFeeCalculator(subject, analytics, hostel, food_months, transport)

    # Method Call
    student1.calculate_fee()

except ValueError:
    print("Please enter valid numeric input for food months.")

Enter subject (HR/Finance/Marketing/DS): HR
Do you want Analytics (Y/N): Y
Do you want Hostel (Y/N): Y
Food required for how many months?: 10
Transportation (semester/annual): semester
Total Annual Cost (INR): 2253006.0

type casting
17. Create  a=100

In [ ]:
a=100
a

100

In [ ]:
print(str(a))

100

In [ ]:
type(str(a))

str

In [ ]:
a='100'
type(a)

str

In [ ]:
a=list('100')
a

['1', '0', '0']

In [ ]:
a=tuple('100')

In [ ]:
a

('1', '0', '0')

In [ ]:
a=dict('100')
a

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
dict(a)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
set(a)

{'0', '1'}

In [ ]:
float(a)

TypeError: float() argument must be a string or a real number, not 'tuple'

In [ ]:
que 8. Create city = “Pune”

In [ ]:
city='Pune'
city

'Pune'

In [ ]:
int(city)

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
float(city)

ValueError: could not convert string to float: 'Pune'

In [ ]:
list(city)

['P', 'u', 'n', 'e']

In [ ]:
tuple(city)

('P', 'u', 'n', 'e')

In [ ]:
dict(city)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
set(city)

{'P', 'e', 'n', 'u'}

Que 9. Create a list as marks = [20,18,15,17,18]

In [ ]:
marks=[20,18,15,17,18]
marks

[20, 18, 15, 17, 18]

In [ ]:
int(marks)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
float(marks)

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
list(marks)

[20, 18, 15, 17, 18]

In [ ]:
dict(marks)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
set(marks)

{15, 17, 18, 20}

que 10. Create the empty list snames

In [ ]:
names=[]
names

[]

In [ ]:
names.append(20)
names

[20]

In [ ]:
names.extend([30])
names

[20, 30]

In [ ]:
names.append(40)
names

[20, 30, 40]

In [ ]:
names.append(50)

In [ ]:
names.append(70)
names

[20, 30, 40, 50, 70]

In [ ]:
names.extend(["WORK"])
names

[20, 30, 40, 50, 70, 'WORK']

In [ ]:
l1=[1,'a','b',2,3]
l1

[1, 'a', 'b', 2, 3]

In [ ]:
l2= names+l1
l2

[20, 30, 40, 50, 70, 'WORK', 1, 'a', 'b', 2, 3]

In [ ]:
l2=names.append(l1)
l2

In [ ]:
l2=names.extend([l1])
l2

In [ ]:
print(l2)

None

que 11. Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [ ]:
l1=[3,4]
l3=[4,5,6,7,8,9,11]
l3.insert(4,l1)

In [ ]:
l3

[4, 5, 6, 7, [3, 4], 8, 9, 11]

Que.12. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.
From the collection delete the record for “Nisha”
Find the location of 20.50

In [ ]:
l4 = [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]
for i in range(len(l4)):
    if type(l4[i]) == int or type(l4[i]) == float:
        l4[i] = l4[i] * 5
print(l4)

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

In [ ]:
l4.remove("Nisha")
print(l4)

[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]

In [ ]:
index = l4.index(102.5)
print(index)

5

que13. Create a comprehensive list for square upto 10

In [ ]:
list=[x**2 for x in range(1,11)]

In [ ]:
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

que 14. Create the comprehensive list to find number divisible by 13 till 200

In [ ]:
list=[x for x in range(1,201)if x%13==0]
list

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

que 15. Create the list which is divisible by 4 from 300 to 400

In [ ]:
list=[x for x in range(300,401) if x%4==0]

In [ ]:
list

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

que16. Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
Then generate a new list based on all combination of x and y.
For example: if x = 1 and y =2 then x_list = [0] and y_list = [0,1]
And output will be [[0,0],[0,1]]
If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [ ]:
x = int(input("Enter x value: "))
y = int(input("Enter y value: "))

x_list = [i for i in range(x)]
y_list = [j for j in range(y)]

result = [[i, j] for i in x_list for j in y_list]

print(result)

Enter x value: 3
Enter y value: 2
[[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1]]

Que 17. What is the difference between add and update methods in set?

ans.-add() inserts a single element into a set, while update() inserts multiple elements from another iterable.

que 18. What is the difference between append and extend methods in list? ans.-append() adds one element to the list, while extend() adds multiple elements from another iterable.

que.19. What is the difference between pop and remove methods? Ans.-pop() removes an element by index (or last by default) and returns it, while remove() deletes a specific value and does not return it.

que 20. What is the difference between discard, pop, remove methods? ans.-discard() removes a value without error if it’s missing, remove() removes a value but raises an error if it’s missing, and pop() removes and returns a random element (in sets).

que  21. How to create empty set?

In [ ]:
s=set()
print(s)

set()

que 22. Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

In [ ]:
s1={1,2,3,4,5,6}
s2={7,8,9,11,10,12}
print(s1)
print(s2)
print(s1 | s2)
print(s1 &  s2)
print(s1 - s2)
print(s2 - s1)

{1, 2, 3, 4, 5, 6}
{7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set()
{1, 2, 3, 4, 5, 6}
{7, 8, 9, 10, 11, 12}

que 23. Create l2 as a list and perform set operation on s1 with l1

In [ ]:
l1=[12,2,3,4,5,6]
print(s1 | l1)

TypeError: unsupported operand type(s) for |: 'set' and 'list'

que 24. Ask user to entenr the name and DOB and generate the password based on first name 4 characters and @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

In [ ]:
name = input("Enter your name:")
DBO= input("Enter Your DBO:")

password=name[:4]+"@"+DBO[:2]+DBO[3:5]
print("Your Password is", password)

Enter your name:Sakshi
Enter Your DBO:11-10-2002
Your Password is Saks@1110

que 25. Ask user to enter the name and DOB and generate the password based on first name 4 characters and last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978
n

In [ ]:
name = input("Enter your name:")
DBO= input("Enter Your DBO:")
password=name[:4]+"@"+DBO[6:]
print("Your Password is", password)

Enter your name:Sakshi
Enter Your DBO:11-10-2002
Your Password is Saks@2002

In [ ]:
#26.
for i in range(5):
  print("*"* i)

*
**
***
****

In [ ]:
#27
for i in range(4, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * *
* * *
* *
*

In [ ]:
#28.
str_val="ABCD"
#print(len(str_val))
ab=' '
for i in  range(len(str_val)):
  ab=ab+" "+str_val[i]
  print(ab)

  A
  A B
  A B C
  A B C D

In [ ]:
#29.
s = "ABCD"

for i in range(len(s)):
    for j in range(i + 1):
        print(s[i], end=" ")
    print()

A
B B
C C C
D D D D

In [ ]:
#30.
for i in range(1,5):
  for j in range(i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
#31.
s='ABCD'
for i in range(len(s)-1,-1,-1):
  for j in range(i+1):
    print(s[i],end=' ')
  print()

D D D D
C C C
B B
A

In [ ]:
#32.
s='UPGRAD'
ab=''
for i in range(len(s)-1,-1,-1):
  ab=ab+" "+s[i]
  print(ab)

 D
 D A
 D A R
 D A R G
 D A R G P
 D A R G P U

In [ ]:
word = "UPGRAD"
rev = word[::-1]

for i in range(len(rev)):
    for j in range(i + 1):
        print(rev[j], end=" ")
    print()

D
D A
D A R
D A R G
D A R G P
D A R G P U

33. Create a list of odd numbers from 1 to 10
. Using for loop
. Using comprehensive list

In [ ]:
#1.
for i in range(1,10):
  if i%2 !=0:
    print(i,end =" ")

1 3 5 7 9

In [ ]:
#2.
odd_number= [x for x in range(1,10) if x%2 !=0 ]
print(odd_number)

[1, 3, 5, 7, 9]

34. Create even number list using for loop from 200 to 250

In [ ]:
for i in range(200, 251):
  if i% 2==0:
    print(i,end=" ")

200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250

35. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
multiply each and every element by 2 and display the answer

In [ ]:
list2=[2,70,'work','para',2.5,[1,2,3],(1,2),{1,2},{1:'a',2:'b'},3,10,302.5]
list2

result = []

for i in list2:
    if isinstance(i, (int, float, str, list, tuple)):
        result.append(i * 2)
    else:
        result.append(i)

print(result)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

36. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
multiply each and every element from list2 by 2 and store the answer in list3

In [ ]:
list2=[2,70,'work','para',2.5,[1,2,3],(1,2),{1,2},{1:'a',2:'b'},3,10,302.5]
list2

list3=[]
for i in list2:
  if isinstance(i,(int, float,str,list,tuple)):
    list3.append(i*2)
  else:
    list3.append(i)
print(list3)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

37.Create a function to accept marks from user utilize exception concept to validate proper marks.

In [ ]:
from typing import ValuesView
def get_marks():
  try:
    marks=int(input("Enter your marks :"))
    if marks<0 or marks>100:
      raise ValueError("marks must be between 0 and 100")
    return marks
  except:
    print("Invalid marks")
    return None

get_marks()

Enter your marks :101
Invalid marks

38 Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name

In [ ]:
def validate_name():
  name=input("Enter your name: ")
  if name.isalpha():
    return name

  else:
    return "Enter correct name"

validate_name()

Enter your name: Sakshi

'Sakshi'

39 Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.

In [ ]:
def mobile_number():
  number=input("Enter your number:")
  if number.isdigit() and len(number)==10:
    return number

  else:
    return "Enter correct number"

print(mobile_number())

Enter your number:1234567890
1234567890

In [ ]:
##using exception handling
def mobile_number():
  try:
    number=input("Enter your number: ")
    if not number.isdigit() and len(number)!=10:
      raise ValueError("Enter correct number")

    return number

  except:
    print("Enter proper number")

mobile_number()

Enter your number: 1234567890

'1234567890'

40 .Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

In [ ]:
def generate_password():

    name=input("Enter your name:")
    DBO= input("Enter your DBO:")
    if not name.isalpha()  or DBO[2]!='-' or DBO[5]!='-':
      return "enter correct information"
    else:
      password=name[:4]+DBO[-4:]
      return password


generate_password()

Enter your name:Sakshi
Enter your DBO:11-10-2002

'Saks2002'

In [ ]:
#using exception handling
def generate_password():
  try:

    name=input("Enter your name:")
    DBO= input("Enter your DBO:")
    if not name.isalpha()  or DBO[2]!='-' or DBO[5]!='-':
      return "enter correct information"
    else:
      password=name[:4]+DBO[-4:]
      return password
  except:
    return "enter correct name and DBO"

generate_password()

Enter your name:sakshi
Enter your DBO:11-10-2002

'saks2002'

41. Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
For example:

{}

{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}

{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},

2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}11-10


[ ]

In [ ]:
ustomers = {}
cust_no = 1

while True:
    name = input("Enter Name: ")
    dob = input("Enter DOB (DD-MM-YYYY): ")
    mobile = input("Enter Mobile: ")

    customers[cust_no] = {"name": name, "DOB": dob, "mobile": mobile}
    cust_no += 1

    more = input("Add more? (y/n): ")
    if more.lower() != 'y':
        break

print(customers)
0

Enter Name: Sakshi
Enter DOB (DD-MM-YYYY): 11-10-2002
Enter Mobile: 1234567890
Add more? (y/n): n
{1: {'name': 'Sakshi', 'DOB': '11-10-2002', 'mobile': '1234567890'}, 2: {'name': 'rohit', 'DOB': '15-02-2002', 'mobile': '2345678901'}}

0

42. Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log

In [ ]:
with open("cust_info.txt", "w") as f:
    f.write(str(customers))

43. Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file. If there is information then read the dictionary store into one variable and then append new information of customer if added.

In [ ]:
import os

if os.path.exists("cust_info.txt"):
    with open("cust_info.txt", "r") as f:
        data = f.read()
        customers = eval(data) if data else {}
else:
    customers = {}

cust_no = max(customers.keys()) + 1 if customers else 1

name = input("Enter Name: ")
dob = input("Enter DOB: ")
mobile = input("Enter Mobile: ")

customers[cust_no] = {"name": name, "DOB": dob, "mobile": mobile}

with open("cust_info.txt", "w") as f:
    f.write(str(customers))

Enter Name: Sakshi
Enter DOB: 11-10-20002
Enter Mobile: 1234567890

44. Create a table cust_info as sr_no, name, DOB, mobile. Ask user to enter the information from python code. Validate all fields and after validation insert records in the table.

In [ ]:
#import mysql.connector
import re

conn = mysql.connector.connect(host="localhost", user="root", password="root", database="test")
cur = conn.cursor()

name = input("Enter Name: ")
dob = input("Enter DOB (YYYY-MM-DD): ")
mobile = input("Enter Mobile: ")

if not re.match(r"\d{10}$", mobile):
    print("Invalid Mobile")
else:
    cur.execute("INSERT INTO cust_info (name, DOB, mobile) VALUES (%s,%s,%s)", (name, dob, mobile))
    conn.commit()
    print("Inserted Successfully")

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.6.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (11 kB)
Downloading mysql_connector_python-9.6.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.5/34.5 MB 48.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.6.0

45. Dict1= {“Key”: {“subkey”:20} , “k2”:{“sub2” : 5}, “k3” : {“sub4” :16}, “k4” : {“sub4” : 6}}

Sort elements based on values

Output must be {, “k2”:{“sub2” : 5}, “k4” : {“sub4” : 6}, “k3” : {“sub4” : 16}, “Key”:{“subkey”:20}}

In [ ]:
Dict1 = {"Key":{"subkey":20}, "k2":{"sub2":5}, "k3":{"sub4":16}, "k4":{"sub4":6}}

sorted_dict = dict(sorted(Dict1.items(), key=lambda x: list(x[1].values())[0]))
print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

In [ ]:
from itertools import filterfalse

In [ ]:
Dict1 = {
    "Key": {"subkey": 20},
    "k2": {"sub2": 5},
    "k3": {"sub4": 16},
    "k4": {"sub4": 6}
}

# Sort dictionary based on inner value
sorted_dict = dict(
    sorted(Dict1.items(), key=lambda item: list(item[1].values())[0])
)

print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

46. Create a function to calculate age till now.

In [ ]:
from datetime import date

def calculate_age():
    year = int(input("Enter birth year: "))
    month = int(input("Enter birth month: "))
    day = int(input("Enter birth day: "))

    today = date.today()

    age = today.year - year

    # Adjust age if birthday hasn't come yet this year
    if (today.month, today.day) < (month, day):
        age -= 1

    print("Your age is:", age)

calculate_age()

Enter birth year: 2002
Enter birth month: 10
Enter birth day: 11
Your age is: 23

47. Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

In [ ]:
def check_eligibility(birth_year, eligibility_age):
    today = date.today()
    current_age = today.year - birth_year

    if current_age >= eligibility_age:
        return "Eligible"
    else:
        return "Not Eligible"


year = int(input("Enter birth year: "))
eligibility = int(input("Enter eligibility age: "))

print(check_eligibility(year, eligibility))

Enter birth year: 2002
Enter eligibility age: 21
Eligible

48. Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.

In [ ]:
def palindrome(name):
  if name==name[::-1]:
    print("palindrome")

  else:
    print("not palindrome")
name=str(input("enter name:"))
palindrome(name)

enter name:Sakshi
not palindrome

49. Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 ….. upto 100

In [ ]:
def fibonacci():
    a = 0
    b = 1

    while a <= 100:
        print(a, end=" ")
        a, b = b, a + b

fibonacci()

0 1 1 2 3 5 8 13 21 34 55 89

50. Write a code to generate factorial of the number For example: factorial of 5 = 5! = 5*4*3*2*1

In [ ]:
number=int(input("Enter number: "))
fact =1
while number> 1:
  fact=fact*number
  print(fact)
  number -=1

Enter number: 5
5
20
60
120

51. Write a program to find largest number in the list.

In [ ]:
def find_largest(numbers):
    largest = numbers[0]

    for num in numbers:
        if num > largest:
            largest = num

    return largest



my_list = [10, 45, 23, 89, 67]

result = find_largest(my_list)
print("Largest number is:", result)

Largest number is: 89

52. Write a program to check frequency of each element in the list.

In [ ]:
def check_frequency(lst):
    freq = {}

    for item in lst:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1

    return freq


my_list = [1, 2, 2, 3, 1, 4, 2, 3]

result = check_frequency(my_list)

for key, value in result.items():
    print(key, "occurs", value, "times")

1 occurs 2 times
2 occurs 3 times
3 occurs 2 times
4 occurs 1 times

53. There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.

In [ ]:
def find_common(l1, l2):
    common = []

    for item in l1:
        if item in l2:
            common.append(item)

    return common


l1 = [1, 2, 3, 4, 5]
l2 = [3, 2, 8, 7, 9]

result = find_common(l1, l2)
print("Common elements:", result)

Common elements: [2, 3]

Que 56) Build a function to print bill. Generate the bill as mentioned below.

In [ ]:
menu=input("Enter the menue:")
quantity=int(input("Enter the quantity:"))
price=int(input("Enter the price:"))



print('----------------------------------------------')
print("|{:^46}".format("Welcome Hotel Sanket ","       |"))
print('----------------------------------------------')
print("| {:<3} {:<15} {:<10} {:<10} |".format("sr", "Menu", "qunt", "price"))
print("| {:<3} {:<15} {:<10} {:<10} |".format(1, menu, quantity, price))


print('----------------------------------------------')
print('|Total',price*quantity,"                                 |" )

print('----------------------------------------------')

Enter the menue:Pohe
Enter the quantity:2
Enter the price:40
----------------------------------------------
|            Welcome Hotel Sanket
----------------------------------------------
| sr  Menu            qunt       price      |
| 1   Pohe            2          40         |
----------------------------------------------
|Total 80                                  |
----------------------------------------------